<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop | Funkoshop</title>
    <link rel="icon" href="/img/branding/isotype.svg">
    <link rel="stylesheet" href="../../css/styles.css">


    <!--Google fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter&family=Raleway:wght@300&display=swap" rel="stylesheet">

</head>
<body>
    <%- include ('../../partials/header') %>
    <main id="shop-main" class="container">
        <aside class="aside-filter">
            <div class="filter">
                <label class="filter__search" for="search">BUSCAR</label>
                <input class="filter__input" type="text" placeholder="item o categoría" name="search" id="search">
            </div>
            <div>
                <span for="orderby">ORDENAR POR</span>
                <select name="orderby" id="orderby" placeholder="Mayor a menor">
                    <option value="az">A-Z</option>
                    <option value="za">Z-A</option>
                    <option value="desc">Mayor precio</option>
                    <option value="asc">Menor precio</option>
                </select>
            </div>   
            <div>
                <span>PRECIO</span>
                <div class="filter-price">
                    <label for="min">MIN</label>
                    <input type="text" name="min" id="min" placeholder="0">
                    <label for="max">MAX</label>
                    <input type="text" name="max" id="max" placeholder="0">
                </div>
            </div>
            <div>
                <span for ="filter">FILTRAR</span>
                <div>
                    <input type="checkbox" name="filter" id="news" value="nuevos">
                    <label for="">NUEVOS</label>
                </div>
                <div>
                    <input type="checkbox" name="filter" id="offers" value="ofertas">
                    <label for="">OFERTAS</label>
                </div>
                <div>
                    <input type="checkbox" name="filter" id="edition" value="especial">
                    <label for="">EDICIÓN ESPECIAL</label>
                </div>
                <div>
                    <input type="checkbox" name="filter" id="favs" value="favoritos">
                    <label for="">FAVORITOS</label>
                </div>
            </div>
        </aside>
        <section class="shop__content">
            <ul id="shop-productos">
                <% data.forEach((producto) => { %> 
                    <li class="shop__item">
                        <article class="card-item">
                            <a class="card-item__link" href="/shop/items/<%= producto.product_id %>">
                                <picture class="card-item__cover">
                                    <span class="card-item__tag">Nuevo</span>
                                    <img src="/img/<%= producto.image_front %>" alt="<%= producto.product_description %>">
                                </picture>
                                <div class="card-item__content">
                                    <p class="card-item__license"><%= producto.licence_name %></p>
                                    <h4 class="card-item__name"><%= producto.product_name %></h4>
                                    <p class="card-item__price"><%= producto.price %></p>
                                    <p class="card-item__promo">3 CUOTAS SIN INTERÉS</p>
                                </div>
                            </a>
                        </article>
                    </li>
                    <% }) %>

                <!--
                <li class="shop__item">
                    <article class="card-item">
                        <a class="card-item__link" href="/item/:id">
                            <picture class="card-item__cover">
                                <span class="card-item__tag">Nuevo</span>
                                <img src="../../img/star-wars/trooper-1.webp" alt="Figura colecionable Funko de un Stormtrooper">
                            </picture>
                            <div class="card-item__content">
                                <p class="card-item__license">STAR WARS</p>
                                <h4 class="card-item__name">STORMTROOPER LIGHTSABER</h4>
                                <p class="card-item__price">$1799,99</p>
                                <p class="card-item__promo">3 CUOTAS SIN INTERÉS</p>
                            </div>
                        </a>
                    </article>
                </li>
                <li class="shop__item">
                    <article class="card-item">
                        <a class="card-item__link" href="/item/:id">
                            <picture class="card-item__cover">
                                <span class="card-item__tag">Nuevo</span>
                                <img  src="../../img/pokemon/pidgeotto-1.webp" alt="Figura colecionable Funko dE Pidgeotto">
                            </picture>
                            <div class="card-item__content">
                                <p class="card-item__license">POKEMON</p>
                                <h4 class="card-item__name">PIDGEOTTO</h4>
                                <p class="card-item__price">$ 1799,99</p>
                                <p class="card-item__promo">3 CUOTAS SIN INTERÉS</p>
                            </div>
                        </a>
                    </article>
                </li>
                <li class="shop__item">
                    <article class="card-item">
                        <a class="card-item__link" href="/item/:id">
                            <picture class="card-item__cover">
                                <span class="card-item__tag">Nuevo</span>
                                <img  src="../../img/harry-potter/luna-1.webp" alt="Figura colecionable Funko de Luna Lovegood">
                            </picture>
                            <div class="card-item__content">
                                <p class="card-item__license">HARRY POTTER</p>
                                <h4 class="card-item__name">LUNA LOVEGOOD LION MASK</h4>
                                <p class="card-item__price">$1799,99</p>
                                <p class="card-item__promo">3 CUOTAS SIN INTERÉS</p>
                            </div>
                        </a>
                    </article>
                </li>
                <li class="shop__item">
                    <article class="card-item">
                        <a class="card-item__link" href="/item/:id">
                            <picture class="card-item__cover">
                                <span class="card-item__tag">Nuevo</span>
                                <img  src="../../img/star-wars/trooper-1.webp" alt="Figura colecionable Funko de un Stormtrooper">
                            </picture>
                            <div class="card-item__content">
                                <p class="card-item__license">STAR WARS</p>
                                <h4 class="card-item__name">STORMTROOPER LIGHTSABER</h4>
                                <p class="card-item__price">$1799,99</p>
                                <p class="card-item__promo">3 CUOTAS SIN INTERÉS</p>
                            </div>
                        </a>
                    </article>
                </li>
                <li class="shop__item">
                    <article class="card-item">
                        <a class="card-item__link" href="/item/:id">
                            <picture class="card-item__cover">
                                <span class="card-item__tag">Nuevo</span>
                                <img  src="../../img/pokemon/pidgeotto-1.webp" alt="Figura colecionable Funko dE Pidgeotto">
                            </picture>
                            <div class="card-item__content">
                                <p class="card-item__license">POKEMON</p>
                                <h4 class="card-item__name">PIDGEOTTO</h4>
                                <p class="card-item__price">$ 1799,99</p>
                                <p class="card-item__promo">3 CUOTAS SIN INTERÉS</p>
                            </div>
                        </a>
                    </article>
                </li>
                <li>
                    <article class="card-item">
                        <a class="card-item__link" href="/item/:id">
                            <picture class="card-item__cover">
                                <span class="card-item__tag">Nuevo</span>
                                <img  src="../../img/harry-potter/luna-1.webp" alt="Figura colecionable Funko de Luna Lovegood">
                            </picture>
                            <div class="card-item__content">
                                <p class="card-item__license">HARRY POTTER</p>
                                <h4 class="card-item__name">LUNA LOVEGOOD LION MASK</h4>
                                <p class="card-item__price">$1799,99</p>
                                <p class="card-item__promo">3 CUOTAS SIN INTERÉS</p>
                            </div>
                        </a>
                    </article>
                </li>
                <li class="shop__item">
                    <article class="card-item">
                        <a class="card-item__link" href="/item/:id">
                            <picture class="card-item__cover">
                                <span class="card-item__tag">Nuevo</span>
                                <img  src="../../img/star-wars/trooper-1.webp" alt="Figura colecionable Funko de un Stormtrooper">
                            </picture>
                            <div class="card-item__content">
                                <p class="card-item__license">STAR WARS</p>
                                <h4 class="card-item__name">STORMTROOPER LIGHTSABER</h4>
                                <p class="card-item__price">$1799,99</p>
                                <p class="card-item__promo">3 CUOTAS SIN INTERÉS</p>
                            </div>
                        </a>
                    </article>
                </li>
                <li class="shop__item">
                    <article class="card-item">
                        <a class="card-item__link" href="/item/:id">
                            <picture class="card-item__cover">
                                <span class="card-item__tag">Nuevo</span>
                                <img  src="../../img/pokemon/pidgeotto-1.webp" alt="Figura colecionable Funko dE Pidgeotto">
                            </picture>
                            <div class="card-item__content">
                                <p class="card-item__license">POKEMON</p>
                                <h4 class="card-item__name">PIDGEOTTO</h4>
                                <p class="card-item__price">$ 1799,99</p>
                                <p class="card-item__promo">3 CUOTAS SIN INTERÉS</p>
                            </div>
                        </a>
                    </article>
                </li>
                <li class="shop__item">
                    <article class="card-item">
                        <a class="card-item__link" href="/item/:id">
                            <picture class="card-item__cover">
                                <span class="card-item__tag">Nuevo</span>
                                <img  src="../../img/harry-potter/luna-1.webp" alt="Figura colecionable Funko de Luna Lovegood">
                            </picture>
                            <div class="card-item__content">
                                <p class="card-item__license">HARRY POTTER</p>
                                <h4 class="card-item__name">LUNA LOVEGOOD LION MASK</h4>
                                <p class="card-item__price">$1799,99</p>
                                <p class="card-item__promo">3 CUOTAS SIN INTERÉS</p>
                            </div>
                        </a>
                    </article>
                </li> -->
            </ul>
        </section>
    </main>
    <section class="pagination">
        <button>
            <iconify-icon icon="mdi:chevron-left"></iconify-icon>
        </button>
        <button>
            <span>1</span>
        </button>
        <button>
            <span>2</span>
        </button>
        <button>
            <span>3</span>
        </button>
        <button>
            <span>4</span>
        </button>
        <button>
            <iconify-icon icon="mdi:chevron-right"></iconify-icon>
        </button>
    </section>
    <%- include ('../../partials/footer') %>
<!--Iconos-->
<script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.8/dist/iconify-icon.min.js"></script>
<script src="../../js/menu-mobile.js"></script>
    
</body>
</html>